<html><body bgcolor=aqua font-color=white>Page Number "66" found in TLB!!<br>1 Virtual address: 16916 Physical address: 20 Value: 0
Page Number "244" found in TLB!!<br>2 Virtual address: 62493 Physical address: 285 Value: 0
Page Number "117" found in TLB!!<br>3 Virtual address: 30198 Physical address: 758 Value: 29
Page Number "209" found in TLB!!<br>4 Virtual address: 53683 Physical address: 947 Value: 108
Page Number "156" found in TLB!!<br>5 Virtual address: 40185 Physical address: 1273 Value: 0
Page Number "112" found in TLB!!<br>6 Virtual address: 28781 Physical address: 1389 Value: 0
Page Number "95" found in TLB!!<br>7 Virtual address: 24462 Physical address: 1678 Value: 23
Page Number "189" found in TLB!!<br>8 Virtual address: 48399 Physical address: 1807 Value: 67
Page Number "253" found in TLB!!<br>9 Virtual address: 64815 Physical address: 2095 Value: 75
Page Number "71" found in TLB!!<br>10 Virtual address: 18295 Physical address: 2423 Value: -35
Page Number "47" found in TLB!!<br>11 Virtual address: 12218 Physical address: 2746 Value: 11
Page Number "88" found in TLB!!<br>12 Virtual address: 22760 Physical address: 3048 Value: 0
Page Number "226" found in TLB!!<br>13 Virtual address: 57982 Physical address: 3198 Value: 56
Page Number "109" found in TLB!!<br>14 Virtual address: 27966 Physical address: 3390 Value: 27
Page Number "214" found in TLB!!<br>15 Virtual address: 54894 Physical address: 3694 Value: 53
Page Number "152" found in TLB!!<br>16 Virtual address: 38929 Physical address: 3857 Value: 0
Page Number "128" found in TLB!!<br>17 Virtual address: 32865 Physical address: 4193 Value: 0
Page Number "250" found in TLB!!<br>18 Virtual address: 64243 Physical address: 4595 Value: -68
Page Number "9" found in TLB!!<br>19 Virtual address: 2315 Physical address: 4619 Value: 66
Page Number "251" found in TLB!!<br>20 Virtual address: 64454 Physical address: 5062 Value: 62
Page Number "215" found in TLB!!<br>21 Virtual address: 55041 Physical address: 5121 Value: 0
Page Number "72" found in TLB!!<br>22 Virtual address: 18633 Physical address: 5577 Value: 0
Page Number "56" found in TLB!!<br>23 Virtual address: 14557 Physical address: 5853 Value: 0
Page Number "238" found in TLB!!<br>24 Virtual address: 61006 Physical address: 5966 Value: 59
Page Number "244" found in page table!!<br>25 Virtual address: 62615 Physical address: 407 Value: 37
Page Number "29" found in TLB!!<br>26 Virtual address: 7591 Physical address: 6311 Value: 105
Page Number "252" found in TLB!!<br>27 Virtual address: 64747 Physical address: 6635 Value: 58
Page Number "26" found in TLB!!<br>28 Virtual address: 6727 Physical address: 6727 Value: -111
Page Number "126" found in TLB!!<br>29 Virtual address: 32315 Physical address: 6971 Value: -114
Page Number "236" found in TLB!!<br>30 Virtual address: 60645 Physical address: 7397 Value: 0
Page Number "24" found in TLB!!<br>31 Virtual address: 6308 Physical address: 7588 Value: 0
Page Number "178" found in TLB!!<br>32 Virtual address: 45688 Physical address: 7800 Value: 0
Page Number "3" found in TLB!!<br>33 Virtual address: 969 Physical address: 8137 Value: 0
Page Number "159" found in TLB!!<br>34 Virtual address: 40891 Physical address: 8379 Value: -18
Page Number "192" found in TLB!!<br>35 Virtual address: 49294 Physical address: 8590 Value: 48
Page Number "160" found in TLB!!<br>36 Virtual address: 41118 Physical address: 8862 Value: 40
Page Number "83" found in TLB!!<br>37 Virtual address: 21395 Physical address: 9107 Value: -28
Page Number "23" found in TLB!!<br>38 Virtual address: 6091 Physical address: 9419 Value: -14
Page Number "127" found in TLB!!<br>39 Virtual address: 32541 Physical address: 9501 Value: 0
Page Number "69" found in TLB!!<br>40 Virtual address: 17665 Physical address: 9729 Value: 0
Page Number "14" found in TLB!!<br>41 Virtual address: 3784 Physical address: 10184 Value: 0
Page Number "112" found in page table!!<br>42 Virtual address: 28718 Physical address: 1326 Value: 28
Page Number "231" found in TLB!!<br>43 Virtual address: 59240 Physical address: 10344 Value: 0
Page Number "156" found in page table!!<br>44 Virtual address: 40178 Physical address: 1266 Value: 39
Page Number "234" found in TLB!!<br>45 Virtual address: 60086 Physical address: 10678 Value: 58
Page Number "165" found in TLB!!<br>46 Virtual address: 42252 Physical address: 10764 Value: 0
Page Number "174" found in TLB!!<br>47 Virtual address: 44770 Physical address: 11234 Value: 43
Page Number "87" found in TLB!!<br>48 Virtual address: 22514 Physical address: 11506 Value: 21
Page Number "11" found in TLB!!<br>49 Virtual address: 3067 Physical address: 11771 Value: -2
Page Number "61" found in TLB!!<br>50 Virtual address: 15757 Physical address: 11917 Value: 0
Page Number "123" found in TLB!!<br>51 Virtual address: 31649 Physical address: 12193 Value: 0
Page Number "42" found in TLB!!<br>52 Virtual address: 10842 Physical address: 12378 Value: 10
Page Number "170" found in TLB!!<br>53 Virtual address: 43765 Physical address: 12789 Value: 0
Page Number "130" found in TLB!!<br>54 Virtual address: 33405 Physical address: 12925 Value: 0
Page Number "175" found in TLB!!<br>55 Virtual address: 44954 Physical address: 13210 Value: 43
Page Number "221" found in TLB!!<br>56 Virtual address: 56657 Physical address: 13393 Value: 0
Page Number "19" found in TLB!!<br>57 Virtual address: 5003 Physical address: 13707 Value: -30
Page Number "196" found in TLB!!<br>58 Virtual address: 50227 Physical address: 13875 Value: 12
Number of translated address: 58
Number of page fault: 55
Page fault rate: 0.9482758620689655
Number of TLB hits: 0
TLB hit rate: 0.0<BR></html></body>